html {
  font-size: 18px;
}
body {

}
header {
  background-color: black;
}
header img {
height: 1.5rem;
margin-left: 0.5rem;
margin-right: 1rem;

}
header h2 {
font-size: 1rem;
}
.background {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}
